<app-navbar></app-navbar>
 <router-outlet></router-outlet>
<!-- <table class="table table-bordered table-hover">
        <tr>
               <th>Order Number</th>
               <th>Date</th>
               <th>Patient</th>
               <th>Requester</th>
        </tr>
        <tr *ngFor="let orders of orders;let i=index" >
            <td>{{orders.ordernumber}}</td>
            <td>{{orders.date}}</td>
            <td>{{orders.patientname}}</td>
            <td>{{orders.requestername}}</td>
            <td><button type="button" class="btn btn-default" (click)="getInfo(i)">View Order</button></td>
        </tr>
    </table> --> 