// Pramod AJ, Suchand
// All Variable colors, fonts, values are defined here


//Simple colors
$color-grey:rgb(245, 244, 244);

//Font Colors
$color-dark-blue:#163a75;
$color-light-blue:#015D98;
$color-white:white;